<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".di.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal"
        tools:targetApi="31">
        <activity
            android:name=".view.gestionTrabajador.AddTrabjadorActivity"
            android:exported="false"
            android:label="@string/str_add"/>
        <activity
            android:name=".view.gestionTrabajador.EditarTrabajadorActivity"
            android:exported="false"
            android:label="@string/str_edit_work"/>
        <activity
            android:name=".view.gestionCliente.gestionProductos.EditarProductoActivity"
            android:exported="false" />
        <activity
            android:name=".view.gestionTrabajador.GestionTrabajadorActivity"
            android:exported="false"
            android:label="@string/title_usuarios" />
        <activity
            android:name=".view.perfil.PerfilTrabajadorActivity"
            android:exported="false"
            android:label="@string/title_perfil"/>
        <activity
            android:name=".view.menuCliente.MenuClienteActivity"
            android:exported="false" />
        <activity
            android:name=".view.perfil.PerfilActivity"
            android:exported="false"
            android:label="@string/title_perfil" />
        <activity
            android:name=".view.resetPassword.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".view.gestionCliente.gestionProductos.GestionProductosActivity"
            android:exported="false"
            android:label="@string/title_product" />
        <activity
            android:name=".view.gestionCliente.GestionClienteActivity"
            android:exported="false"
            android:label="@string/str_clientess" />
        <activity
            android:name=".view.menuAdmin.MenuAdminActivity"
            android:exported="false" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".view.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.home.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.escanearCodigo.EscanearCodigoActivity"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
    </application>

</manifest>